{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-one-thirds has-text-left">
						<h1 class="is-size-1">Contact Us</h1>
                        <hr/>
						<p class="is-size-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
							voluptate facere molestiae consequatur.</p>
						<div class="social-media">
							<a href="https://facebook.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-facebook fa-xl"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-instagram fa-xl"></i></a>
							<a href="https://youtube.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-youtube fa-xl"></i></a>
                            <a href="https://facebook.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-facebook-messenger fa-xl"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-viber fa-xl"></i></a>
							<a href="https://youtube.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                            <a href="https://facebook.com" target="_blank" class="button is-light is-medium"><i class="fa-brands fa-telegram fa-xl"></i></a>
						</div>
					</div>
					<div class="column is-two-third has-text-left">
                        <form method="POST">
                            <div class="field">
                                <label for="id_full_name" class="label is-medium">Full name:</label>
                                <div class="control">
                                    {{ form.full_name }}
                                </div>
                            </div>

                            <div class="field">
                                <label for="id_contact_info" class="label is-medium">Contact Information</label>
                                <div class="field is-grouped is-grouped-multiline is-horizontal">
                                    <div class="control">
                                        <span class="select is-medium">
                                            {{form.contact_mode}}
                                        </span>
                                    </div>
                                    <div class="control is-expanded">
                                        {{ form.contact_info }}
                                    </div>
                                </div>
                                <p class="help has-text-black">Please select appropriate contact mode and provide the correct contact information.</p>
                            </div>

                            <div class="field">
                                <label for="id_message" class="label is-medium">Message</label>
                                <div class="control">
                                    {{ form.message }}
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="control">
                                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>
                            </div>
                        </form>

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}