{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h1 class="is-size-1"> Contact Us </h1>
    <hr>

    <p class="is-size-4"> Thank you for your message! We will get back to you as soon as possible. </p>
{% endblock content %}