{% load static %}
{% load django_simple_bulma %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Nirmal Deep Reiki | {% if title %} | {{ title }} {% endif %} </title>

  <!--Custom Font Import-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <!-- Fontawesome Embed -->
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  
  <!--Custom CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}" />

  <!-- Bulma CSS -->
  {% bulma %}
  
  {% block extraheadelements %}{% endblock extraheadelements %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <a href="{% url 'base:home_page' %}" class="navbar-item">
              <img src="{% static 'base/img/logo.png' %}"  width="" height="" alt="Nirmal Deep">
          </a>
          
          <div role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </div>
      </div>      
      
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <!-- navbar items -->
        </div>
      
        <div class="navbar-end is-size-4">
          <a href="" class="navbar-item">
            Details
          </a>
          <a href="{% url 'contact:contact' %}" class="navbar-item {% if active == 'contact' %} is-active {% endif %}">
            Contact
          </a>
          <a href="{% url 'services:services_list' %}" class="navbar-item {% if active == 'services' %} is-active {% endif %}">
            Services
          </a>
          <a href="" class="navbar-item">
            Members
          </a>
          <a href="" class="navbar-item">
            Events
          </a>
          <a href="" class="navbar-item">
            Notices
          </a>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock content %}

    {# Footer #}

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
</body>

<script type="text/javascript" src="{% static 'base/js/base.js'%}"></script>

{% block postbodyelements %}
{% endblock postbodyelements %}

</html>