{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="section">
        <h1 class="is-size-1">{{service.name}}</h1>
        <hr>

        <div class="columns">
            <div class="column is-one-quarter"></div>
            <div class="column">
                <img src="{{ service.picture_url }}" alt="{{ service.name }}">
            </div>
            <div class="column is-one-quarter"></div>
        </div>

        <p class="is-size-4">
            {{ service.description}}
        </p>
   </div>

{% endblock content %}