{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="section">
        {% for category, service_list in services.items %}
            <h1 class="is-size-1">{{category}}</h1>
            <hr>

            <div class="columns">
                {% for service in service_list %}
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-3by2">
                                <img src="{{ service.picture_url }}" alt="{{ service.name }}" width="480" height="200">
                              </figure>
                            </div>
                            <div class="card-content has-text-black">
                                <p class="title is-4">{{ service.name }}</p>
                                  <div class="content">
                                    {{ service.description|truncatechars:200 }}
                                  </div>
                                <br>
                                <a class="button is-primary" href="{% url 'services:services_detail' service.id %}">Learn more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endfor %}
    </div>

{% endblock content %}